@{
    ViewBag.Title = "Home Page";
}
@{ var c = new RandomWikiNS.Controllers.HomeController();}
<div class="jumbotron">
    <h1>Generate random Wikis</h1>
    <p class="lead">Click the button to generate 10 random wikipages.</p>
	<p><a href="~/WikiPages/index" class="btn btn-primary btn-lg">Procrastinate!</a></p>
	<p onclick="@c.EmptyDatabase()" class="btn btn-primary btn-sm">Reset Database</p>
</div>
